<!doctype html>
<html>
<head>
    <title>KO Site</title>
    <meta charset="utf-8" />
    <meta name="fragment" content="!" />
    <link rel="stylesheet" href="components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="components/bootstrap-css/css/bootstrap-responsive.css" />
    <script src='components/angular/angular.js'></script>
    <script src='js/app.js'></script>
    <script src='js/home.js'></script>
</head>

<body ng-app="koapp">

    <div class="container" ng-view></div>

</body>

</html>
